<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
     <title>About Us</title>
        
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
       
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    
    
    
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="static/style4.css">  




</head>


<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <header class="header">
        <p class="whitecolor"> <i class="fa fa-space-shuttle"></i> SWIVELING HOLIDAYS </p>
        <nav class="navbar2">
            <a href="/" class="whitecolor"> Home </a>
            <a href="#" class="whitecolor dropbutton" onclick="dropdownfunction()"> Hotels
                <div id="myDropdown" class="dropdowncontent">
                    <a href="/ballyfinhotel">Ballyfin Hotel</a>
                    <a href="/havenhotel">Haven Hotel</a>
                    <a href="/opulenthotel">Opulent Hotel</a>
                    <a href="/otherhotels">Other Hotels</a> </div>
            <a href="/hotelservices" class="whitecolor"> Services </a>
            <a href="/aboutus" class="whitecolor"> About Us </a>
            <a href="/contactus" class="whitecolor"> Contact Us </a>






        </nav>
       
        
        <p class="aboutusswivelingholidaystext"> Some information about</p> <br>
        <p class="aboutusswivelingholidaysslogan"> <i>our company</i></p>
    </header>
    <img src="static/pfp.jpg" style="width: 1580px; height:800px;"> 








<img src="static/hotelbackgroundimage.jpeg" class="aboutusimage" alt="no image entered">

<div class="aboutustextpart"> <br>
    <p class="aboutustitle"> Why us? </p> <br>
    <p class="aboutusparagraph"> At Swiveling Holidays, we are firm believers in the ability of hospitality 
        to generate lifelong events. Our boutique hotel, which is nestled near Ireland, provides an interleaving of luxury, comfort, and 
        individualized attention to make sure that every second of your stay is memorable.</p>






        <br>
    <p class="aboutusparagraph"> Our hotels have been a cornerstone of elegance since its founding year, 2003. Our journey began with a goal to provide visitors a place that incorporates both cutting-edge conveniences and the welcoming personality of traditional hospitality. We have continuously been making the place better for both leisure and business tourists.</p>
        <br>




    
    <p class="aboutusparagraph"> Flexible event spaces are available for hosting your special events, seminars, and celebrations. Your events at Swiveling Holidays are guaranteed to be successful thanks to the use of cutting-edge technology and the assistance of our dedicated team.</p> <br>
    <p class="aboutusparagraph"> We are honored to accept the Hospitality quality Award for the third time this year, running in appreciation of our ongoing commitment to quality. This recognition highlights our ongoing dedication to our hospitality and making sure that your time with us is not wasted.</p>


</div>  <br> <br> <p class="aboutusreviewstitle"> What do our customers say about us?</p>

<br>


<section id="testimonialarea">
    <div class="container">
        <div class="row">
            
            
            <div class="col-md-12">
                <div class="testimonialsliderarea text-center owl-carousel">
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto1fatjon.jpg" alt="">
                        </div>	
                        <h5>Fatjon Hodo</h5>
                        <span>Software Engineering Student</span>									
                        <p class="owlcarouselcontent">
                            "The company had a welcoming staff and a nice atmosphere. Definitely would recommend it to those who are looking forward to staying in luxurious hotels."
                        </p>
                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/fatjon_hodo/"> <i class="fa fa-instagram"></i></a>
                            <a href="https://web.facebook.com/profile.php?id=100006141648039"> <i class="fa fa-facebook"></i> </a>




                            <a href="https://www.linkedin.com/in/fatjon-hodo-074175257/"> <i class="fa fa-linkedin"></i> </a>
                            <a href="https://www.youtube.com/@DKFOficial"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto2kleam.jpeg">
                        </div>	
                        <h5>Klea Minga</h5>
                        <span>Software Engineering Student</span>									
                        <p class="owlcarouselcontent">
                            "I'm very grateful to this company for organizing my trip. My voyage was smooth, allowing me to fully appreciate every moment."
                        </p>
                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/_.klea_m/"> <i class="fa fa-instagram"></i></a>
                            <a href="https://web.facebook.com/klea.minga"> <i class="fa fa-facebook"></i> </a> 
                            <a href="https://www.linkedin.com/in/klea-minga-3b2452222/"> <i class="fa fa-linkedin"></i> </a>
                            <a href="https://www.youtube.com/@BeautyPageantsIndia"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto3endi.jpeg" alt="">
                        </div>	
                        <h5>Endi Guri</h5>
                        <span>Software Engineering Student</span>									
                        <p class="owlcarouselcontent">
                            "For me, Swiveling Holidays revolutionized what adventure is. They carefully organized any event, including climbing inaccessible terrain and sleeping out under the moonlight."
                        </p>
                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/endi.guri/"> <i class="fa fa-instagram"></i></a>
                           <a href="https://web.facebook.com/YoBoiEndi"> <i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/endi-guri-078737233/"> <i class="fa fa-linkedin"></i></a>
                            <a href="https://www.youtube.com/@endiguri9899"> <i class="fa fa-youtube"></i></a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto4florin.jpeg" alt="">
                        </div>	
                        <h5>Florin Kola</h5>
                        <span>HR Assistant</span>									
                        <p class="owlcarouselcontent">
                           "Swiveling Holidays raised the bar for luxury travel.Every event, from private boat cruises to upscale wine tastings, felt like being a window into the lives of the famous."
                        </p>
                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/florin_kola/"> <i class="fa fa-instagram"></i></a>
                            <a href="https://web.facebook.com/florin.kola.921"> <i class="fa fa-facebook"></i> </a>
                            <a href="https://www.linkedin.com/in/florin-kola-352062276/"> <i class="fa fa-linkedin"></i> </a>
                            <a href="https://www.youtube.com/@floriankola"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto5elvis.jpg" alt="">
                        </div>	
                        <h5>Elvis Çuka</h5>
                        <span>Dominusoft Training Center Candidate</span>									
                        <p class="owlcarouselcontent">
                            "This company emphasizes cultural learning. I was able to interact with the local communities thanks to their interest on sustainable tourism."
                        </p>


                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/elvis_cuka/"> <i class="fa fa-instagram"></i></a>
                            <a href="https://web.facebook.com/kapo.berat"> <i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/elvis-%C3%A7uka-b92aa1139/"> <i class="fa fa-linkedin"></i> </a>
                            <a href="https://www.youtube.com/@elviscukaofficial7675"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto6kleah.jpeg" alt="">
                        </div>	
                        <h5>Klea Haxhiu</h5>
                        <span>Software Engineering Student</span>									
                        <p class="owlcarouselcontent">
                            "Swiveling Holidays planned a smooth cross-country trip for me. It was nice to travel because of their diligent planning and outstanding communication."
                        </p>
                        <h6 class="testimonialsocialicons">



                           <a href="https://www.instagram.com/k_haxhiu/"> <i class="fa fa-instagram"></i></a>

                            <a href="https://web.facebook.com/klea.haxhiu"> <i class="fa fa-facebook"></i> </a>
                            <a href="https://www.linkedin.com/in/klea-haxhiu-90218a257/"> <i class="fa fa-linkedin"></i> </a>
                            <a href="https://www.youtube.com/@KleaHaxhiu-gg9um"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto7behar.jpeg" alt="">
                        </div>	
                        <h5>Behar Tallalli</h5>
                        <span>Kosovo Traveler</span>									
                        <p class="owlcarouselcontent">
                            "This travel agency has a passion for wandering with a dedication to the environment. Their eco-friendly itineraries minimized my bad environmental impacts."
                        </p>
                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/behartallalli/"> <i class="fa fa-instagram"></i> </a>
                            <a href="https://web.facebook.com/raheb.bomba"> <i class="fa fa-facebook"></i> </a>
                            <a href="https://www.linkedin.com/in/behar-tallalli-02b91323b/"> <i class="fa fa-linkedin"></i> </a>
                           <a href="https://www.youtube.com/@behartallalli7850"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto8xhesi.png" alt="">
                        </div>	
                        <h5>Xhesi Baze</h5>
                        <span>Software Engineering Student</span>									
                        <p class="owlcarouselcontent">
                            "Unlike any other company, Swiveling Holidays tailored to my wandering nature. They allowed me to travel the world with assurance and make new friendships."
                        </p>
                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/xhbaze/"> <i class="fa fa-instagram"></i> </a>
                           <a href="https://web.facebook.com/xhesbaze17"> <i class="fa fa-facebook"></i> </a>
                           <a href="https://www.linkedin.com/in/xhesibaze/">  <i class="fa fa-linkedin"></i> </a>
                            <a href="https://www.youtube.com/@xhesinaveliu"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto9indrit.jpeg" alt="">
                        </div>	
                        <h5>Indrit Breti</h5>
                        <span>Master Candidate</span>									
                        <p class="owlcarouselcontent">
                            "Swiveling Holidays connects people from many cultures. My journey was fascinating because of their dedication to interaction. I also had the chance to interact with locals."
                        </p>
                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/indrit_breti/"> <i class="fa fa-instagram"></i> </a>
                            <a href="https://web.facebook.com/indrit.breti"> <i class="fa fa-facebook"></i> </a>  
                            <a href="https://www.linkedin.com/in/indrit-breti-35333b151/"> <i class="fa fa-linkedin"></i> </a>
                            <a href="https://www.youtube.com/channel/UC4lGaKFwbWHRBzKxrDENYTQ"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                    <div class="testimonialboxarea">	
                        <div class="testimonialimagearea">
                            <img src="static/foto10alesia.jpeg" alt="">
                        </div>	
                        <h5>Alesia Bitri</h5>
                        <span>Software Engineering Student</span>									
                        <p class="owlcarouselcontent">
                            "I felt like a sea adventurer thanks to this company. I discovered a new passion for the wide waters while visiting the stalagmites and enjoying gourmet meals onboard."
                        </p>
                        <h6 class="testimonialsocialicons">
                           <a href="https://www.instagram.com/b.alesiaaa/"> <i class="fa fa-instagram"></i></a>
                           <a href="https://web.facebook.com/alesia.bitri.5">  <i class="fa fa-facebook"></i> </a>
                            <a href="https://www.linkedin.com/in/alesb210803/"> <i class="fa fa-linkedin"></i> </a>

                            
                            <a href="https://www.youtube.com/@AlesiaMichelle"> <i class="fa fa-youtube"></i> </a>
                        </h6>
                    </div> 
                
                   
                </div>
            </div>
        </div>
    </div>
</section> </div>
<script src="static/script2.js"></script>

<footer class="aboutusfooter">
    <div class="aboutusfootertext">

        <div class="aboutusfooterrow">
            <div class="aboutusfootercolumn">
                <h4 class="aboutusfootertitle">our company</h4>
             <p class="aboutusunderline"> </p>
                <ul>
                    <li><a href="/aboutus">about us</a></li>
                    <li><a href="/hotelservices">our services</a></li>
                    <li><a href="/termsandconditions">terms and conditions</a></li>
                    <li><a href="/contactus">contact us</a></li>
                </ul>
            </div>
            <div class="aboutusfootercolumn">
                <h4 class="aboutusfootertitle">facilities</h4>
                <ul>
                    <li><a href="/hotelfacilities">restaurant</a></li>
                    <li><a href="/hotelfacilities">bars</a></li>
                    <li><a href="/hotelfacilities">swimming pool</a></li>

                    <li><a href="/hotelfacilities">spa</a></li>
                            <li><a href="/hotelfacilities">gym</a></li>

                </ul>
            </div>
            
            <div class="aboutusfootercolumn">
                <h4 class="aboutusfootertitle">hotels</h4>
                <ul>
                    <li><a href="/ballyfinhotel">ballyfin hotel</a></li>
                    <li><a href="/havenhotel">haven hotel</a></li>
                    <li><a href="/opulenthotel">opulent hotel</a></li>
                    <li><a href="/otherhotels">other hotels</a></li>
                    <li><a href="/bookahotel">book a hotel</a></li>
                </ul>
            </div>
            <div class="aboutusfootercolumn margin23">
                <h4>follow us</h4>
                <div class="aboutussocialicons">
                 <ul>
                   <li><a href="https://web.facebook.com/groups/1070339706351544/user/100090680450269/"><i class="fab fa-facebook"></i></a></li>
                   <li><a href="https://twitter.com/SwivelingH67318"><i class="fab fa-twitter"></i></a></li>
                   <li><a href="https://www.instagram.com/swivelingholidays/"><i class="fab fa-instagram"></i></a></li>
                   <li><a href="https://www.youtube.com/channel/UCD4s5wBPiWjRW_EMN4bk5jA"><i class="fab fa-youtube"></i></a></li>
                   <li><a href="https://www.linkedin.com/in/swiveling-holidays-89854b28a/"><i class="fab fa-linkedin"></i></a></li>
                 </ul>
                 
               </div>
            </div>
        </div>
    </div>
</footer>



</body> </html>