<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="stylesheet" href="static/style3.css">  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    
</head>
<body>

    <header class="header">
    <p class="whitecolor"> <i class="fa fa-space-shuttle"></i> SWIVELING HOLIDAYS </p>
    <nav class="navbar">

        <a href="/" class="whitecolor"> Home </a>
            <a href="#" class="whitecolor dropbutton" onclick="dropdownfunction()"> Hotels
                <div id="myDropdown" class="dropdowncontent">
                    <a href="/ballyfinhotel">Ballyfin Hotel</a>
                    <a href="/havenhotel">Haven Hotel</a>
                    <a href="/opulenthotel">Opulent Hotel</a>
                    <a href="/otherhotels">Other Hotels</a> </div>
            <a href="/hotelservices" class="whitecolor"> Services </a>
            <a href="/aboutus" class="whitecolor"> About Us </a>
            <a href="/contactus" class="whitecolor"> Contact Us </a>
    </nav>
    <p class="homeswivelingholidaystext"> Welcome to Swiveling Holidays</p> <br>
    <p class="homeswivelingholidaysslogan"> <i> for a memorable lifetime </i></p>
</header>
<img src="static/pfp.jpg" class="width1580height800"> <br> <br> <br>

<div> 
        <img src="static/logo.png" class="descriptionimage" alt="no image entered"> 
        <div class="textportion">
            <p class="homeparagraph"> We are a dedicated company to make your vacation enjoyable 
                by organizing adventures that take you off the beaten track so you can 
                indulge yourself in the beauty and culture of each destination. 
                A primary goal of us is that traveling should be about making connections and lasting memories, not only seeing new locations. <br> <br> <br> Therefore, we concentrate on offering authentic and meaningful travel experiences so that they stay with you long after your trip is over. We strongly believe in using sustainable and responsible travel methods to make sure that your travels have a good impact on the places you visit. Join Swiveling Holidays on a trip of a lifetime to see the globe in a way that is as special as you are. Your journey begins right here. </p>
        </div>  </div>    <br> <br>
        <footer class="homefooter">
            <div class="homefootertext">
                <div class="homefooterrow">
                    <div class="homefootercolumn">
                        <h4>our company</h4>
                     <p class="underline"> </p>
                        <ul>
                            <li><a href="/aboutus">about us</a></li>
                            <li><a href="/hotelservices">our services</a></li>
                            <li><a href="/termsandconditions">terms and conditions</a></li>
                            <li><a href="/contactus">contact us</a></li>
                        </ul>
                    </div>
                    <div class="homefootercolumn">
                        <h4>facilities</h4>
                        <ul>
                            <li><a href="/hotelfacilities">restaurant</a></li>
                            <li><a href="/hotelfacilities">bars</a></li>
                            <li><a href="/hotelfacilities">swimming pool</a></li>
                            <li><a href="/hotelfacilities">spa</a></li>
                            <li><a href="/hotelfacilities">gym</a></li>
                        </ul>
                    </div>
                    <div class="homefootercolumn">
                        <h4>hotels</h4>
                        <ul>
                            <li><a href="/ballyfinhotel">ballyfin hotel</a></li>
                            <li><a href="/havenhotel">haven hotel</a></li>
                            <li><a href="/opulenthotel">opulent hotel</a></li>
                         <li><a href="/otherhotels">other hotels</a></li>
                            <li><a href="/bookahotel">book a hotel</a></li>
                        </ul>
                    </div>
                    <div class="homefootercolumn">
                        <h4>follow us</h4>
                        <div class="homesocialicons">
                         <ul>
                            <li><a href="https://web.facebook.com/groups/1070339706351544/user/100090680450269/"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/SwivelingH67318"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/swivelingholidays/"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCD4s5wBPiWjRW_EMN4bk5jA"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/swiveling-holidays-89854b28a/"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                         
                       </div>
                    </div>
                </div>
            </div>
       </footer>
   <script src="static/script2.js"></script>
</body>
</html>