<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hotel Facilities</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <link rel="stylesheet" href="static/style3.css">
    
 
 
     
 
     </style>
  </head>
  <body class="hotelfacilitiesbody">
    <header class="header">
      <p class="whitecolor"> <i class="fa fa-space-shuttle"></i> SWIVELING HOLIDAYS </p>
      <nav class="navbar2">
        <a href="/" class="whitecolor"> Home </a>
            <a href="#" class="whitecolor dropbutton" onclick="dropdownfunction()"> Hotels
                <div id="myDropdown" class="dropdowncontent">
                    <a href="/ballyfinhotel">Ballyfin Hotel</a>
                    <a href="/havenhotel">Haven Hotel</a>
                    <a href="/opulenthotel">Opulent Hotel</a>
                    <a href="/otherhotels">Other Hotels</a> </div>
            <a href="/hotelservices" class="whitecolor"> Services </a>
            <a href="/aboutus" class="whitecolor"> About Us </a>
            <a href="/contactus" class="whitecolor"> Contact Us </a> </nav>










      
   
            <p class="hotelfacilitiesswivelingholidaystext"> Facilities are what makes our hotel</p> <br>
    <p class="hotelfacilitiesswivelingholidaysslogan"> <i> stand out</i></p>

  </header>


  <img src="static/pfp.jpg" class="width1580height800">

 
<section>
    <div class="container margin45"> <br>
    <div class="row">
        
        <div class="col-md-4 py-3 py-md-0">
            

            <div class="card">
                <div class="card-body">
                    <h3 class="hotelfacilitiestitle"> Restaurant </h3> <br>
                    <img src="static/hotelfacilitiesfirstphoto.jpg" width="381" height="203"> <br> <br>
                    <p> Welcome to Swiveling Holidays, a restaurant where every meal is a unique moment With cuisines from all around the world, our restaurant's travel theme conveys the idea of international traveling. <br> <br>

                        Enter a lively environment that evokes the feeling of travel. You can go to the most famous culinary locales at the Swiveling Holidays restaurant. Enjoy delicacies that have been made to show the true flavor of each location while engaging yourself in the rich cultural tapestry. <br> <br> Our menu features dishes from every region of the world, from the smoky flavors of Tangier to the warm scents of a Tuscan trattoria.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">



                <div class="card-body">
                    <h3 class="hotelfacilitiestitle"> Bars </h3> <br>
                    <img src="static/hotelfacilitiessecondphoto.webp" width="381" height="203"> <br> <br>
                    <p> We present the Swiveling Holidays Bars, the bars of luxury and travel. Enter into a room where each beverage has a narrative to tell and each sip transports you to the heart of the destination. <br> <br> Our bars provide a liquid passport to some of the most famous and secret drinking rooms worldwide. Try the smokey Mexican mezcal or indulge in an Indian-inspired cocktail that dances on your tongue. <br> <br> Each bar is a tribute to a certain part of the world, where bartenders mash cultures together. At our bar, you may enjoy the ambience of a traditional European speakeasy or the Cuban air.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            

            <div class="card">
                <div class="card-body">
                    <h3 class="hotelfacilitiestitle"> Swimming Pool </h3> <br>
                    <img src="static/hotelfacilitiesthirdphoto.jpg" width="381" height="203"> <br> <br>
                    <p> Our travel company takes its dedication to making remarkable memories. Our pool is a place where visitors can unwind and connect with the natural beauty of their surroundings. <br> <br> Every part of our pool area allows you to get some sun rays.Our pool accommodates all needs, whether you're an avid and hardcore swimmer or only looking to only touch the water. <br> <br> Take an invigorating swim, sunbathe on cushy chairs, or chat with other guests while sipping a tropical beverage from our poolside bar. Every second spent by the water's edge is an opportunity to priceless memories. </p>
                </div>




            </div>  </div> 

        <div class="col-md-4 py-3 py-md-0">
            

            <div class="card">
                <div class="card-body">
                    <h3 class="hotelfacilitiestitle"> Gym </h3> <br>
                    <img src="static/hotelfacilitiesfourthphoto.jpg" width="381" height="203"> <br> <br>
                    <p> The Swiveling Holidays' Gym, where discipline and fitness collide, can help you move your moments to a higher level. <br> <br> Travel, in the opinion of our travel agency, should be viewed as an integrated moment that takes not only the places you visit, into account, but also your physique. It is a refuge for visitors looking to keep active and energized. It is tucked away inside our facilities. <br> <br> Our cutting-edge facility is outfitted to meet all of your needs, whether you're a dedicated fitness client or only trying to keep up with your daily habits while traveling. </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="hotelfacilitiestitle"> Spa </h3> <br>
                    <img src="static/hotelfacilitiesfifthphoto.jpg" width="381" height="203"> <br> <br>
                    <p> At our travel agency's spa, Swiveling Holidays, you may indulge to your complete bliss. Our spa is tucked away in an idyllic area of the property and provides a place to reinvigorate and seek solace while traveling. <br> <br> The Swiveling Holidays' Spa, which draws influence from some of the most well-known places in the world, is a refuge made to whisk you away to a place of pure repose. Enter a setting that combines the luxury of a top-tier spa with the settling aspects of nature.  <br> <br> Our spa menu is a compiled selection of massages drawn from both contemporary and historic practices. Second-rate service. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            

            <div class="card">
                <div class="card-body">
                    <h3 class="hotelfacilitiestitle"> Recent News </h3> <br>
                    <img src="static/hotelfacilitiessixthphoto.png" width="381" height="203"> <br> <br>
                    <p> Swiveling Holidays has formally signed a collaboration agreement with Booking.com, marking an exciting move that highlights its dedication to improving consumer wants and needs. <br> <br> This partnership has been established by the well-known travel company, which is recognized for its commitment to making extraordinary vacations, in order to expand the alternatives accessible to its esteemed customers. <br> <br> For both of the companies, the collaboration incorporates a key decision. This partnership opens a world of housing options up, from small boutique hotels to wealthy ones.</p>
                </div>
            </div>
        </div>
    </div>



    </div>
</section>



    
    <footer class="hotelfacilitiesfooter">   <div class="hotelfacilitiesfootertext">







          <div class="hotelfacilitiesfooterrow">
              <div class="hotelfacilitiesfootercolumn">
                  <h4 class="hotelfacilitiesfootertitle">our company</h4>
               <p class="hotelfacilitiesunderline"> </p>
                  <ul>
                    <li><a href="/aboutus">about us</a></li>
                    <li><a href="/hotelservices">our services</a></li>
                    <li><a href="/termsandconditions">terms and conditions</a></li>
                    <li><a href="/contactus">contact us</a></li>
                  </ul>
              </div>
              <div class="hotelfacilitiesfootercolumn">
                  <h4 class="hotelfacilitiesfootertitle">facilities</h4>
                  <ul>
                    

                    <li><a href="/hotelfacilities">restaurant</a></li>
                    <li><a href="/hotelfacilities">bars</a></li>
                    <li><a href="/hotelfacilities">swimming pool</a></li>
                    <li><a href="/hotelfacilities">spa</a></li>
                    <li><a href="/hotelfacilities">gym</a></li>
                  </ul>
              </div>





    
              <div class="hotelfacilitiesfootercolumn">
                  <h4 class="hotelfacilitiesfootertitle">hotels</h4>
                  <ul>
                    <li><a href="/ballyfinhotel">ballyfin hotel</a></li>
                    <li><a href="/havenhotel">haven hotel</a></li>
                    
                    <li><a href="/opulenthotel">opulent hotel</a></li> <li><a href="/otherhotels">other hotels</a></li> <li><a href="/bookahotel">book a hotel</a></li>

                    
                  </ul>
              </div>
              <div class="hotelfacilitiesfootercolumn margin13">
                  <h4>follow us</h4>
                  <div class="hotelfacilitiessocialicons">
                   <ul>
                    <li><a href="https://web.facebook.com/groups/1070339706351544/user/100090680450269/"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/SwivelingH67318"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/swivelingholidays/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCD4s5wBPiWjRW_EMN4bk5jA"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/swiveling-holidays-89854b28a/"><i class="fab fa-linkedin"></i></a></li>
                   </ul>
                   
                 </div>
              </div>
          </div>
      </div>
 </footer>



  <script src="static/script2.js"></script>





    
  </body>
</html>