<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="static/style4.css">  

    
    
    
</head>
<body class="termsandconditionsbody">


    <div class="termsandconditionsbackgroundimage"> </div>
    <div class="termsandconditionsbox">
        <div class="termsandconditionstext">
            <h2> Terms and Conditions </h2>
            <p> Last Updated: 19.08.2023
            <p> <b> 1. Use of Service</b> <br> <br> To use the Service, you must be at least 18 years old. 
                You acknowledge that you may only use the Service in accordance with applicable legislation 
                and for legal purposes. You must not use the Service for any illegal or harmful actions, such as spamming, hacking, or disseminating malware.
            </p>
        
            <p> <b> 2. Intellectual Property</b> <br> <br> The Company or its licensors
                are the sole owners of all information and content on the Service 
                (all text, graphics, logos, pictures, and software etc.), which is protected by intellectual property laws. To access 
                and use the Service for personal reasons, you are given a restricted, non-exclusive, 
                and non-exchangeable license.
            </p>
        
            <p> <b> 3. Privacy and Data</b> <br> <br> Our privacy policy explains how we get and protect your personal data. 
                You agree to the collection 

                and use of your data as outlined in the Privacy Policy by using the Service.
            </p>

            <p> 
                <b> 4. Payment and Billing</b> <br> <br> You agree to submit correct 
                and complete payment information if the Service demands payment. You give us permission to charge the given payment method with all necessary 
                fees and taxes. Your access 
                to the Service may be cancelled completely if you don't make timely payments.
            </p>







            <p> 
                <b> 5. Cancellation</b> <br> <br> Your access to the Service may be cancelled by the Company 
                at any time, for any reason, and without prior notice. Your ability to use the Service will end 
                immediately upon withdrawal.
            </p>

             
        <h4> I agree to the <span> Terms and Conditions </span> and the privacy policy.</h4>
        <div class="termsandconditionsbuttons">
            <button class="termsandconditionsacceptbutton redcolor" onclick="accepttermsandconditions()"> Accept </button>
            <button class="termsandconditionsdeclinebutton graycolor" onclick="declinetermsandconditions()"> Decline </button>
        </div>
        </div>
    </div>



   <script src="static/script2.js"></script>
</body>
</html>